<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button="bar-button"(click)="close()" icon-only
              class="back-button show-back-button back-button-md">
        <ion-icon name="arrow-back" class="back-button-icon-md"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'wallets' | translate }}</ion-title>
    <ion-buttons right (click)="showInfo()">
      <button ion-button icon-only>
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <p *ngIf="description">{{ description | translate }}</p>
  <ion-list>
    <ion-item *ngFor="let keyPair of keyPairs$ | async" (click)="nextPage(keyPair.keyPair)" class="smaller-thumbnail">
      <ion-thumbnail item-start>
        <img [src]="keyPair.provider.logoPath" [alt]="keyPair.provider.name"/>
      </ion-thumbnail>
      <h2>{{ keyPair.provider.name }}</h2>
      <h3>{{ keyPair.keyPair.name }}</h3>
    </ion-item>
  </ion-list>
  <div *ngIf="!(hasWallets$ | async)">
    <ion-row justify-content-center>
      <p>{{ 'no_wallet_message' | translate }}</p>
    </ion-row>
    <ion-row justify-content-center>
      <button ion-button (click)="openNewWalletPage()">{{ 'add_wallet' | translate }}</button>
    </ion-row>
  </div>
  <ion-fab bottom right>
    <button ion-fab (click)="openNewWalletPage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
