<ion-header>
  <ion-navbar>
    <ion-title>{{ 'payment' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding *ngIf="isOwnRequest$ | async; else requestForm">
  <p>{{ 'pending_payment_request_to_self' | translate : {amount: paymentRequest.amount | amount} }}</p>
</ion-content>
<ng-template #requestForm>
  <ion-content padding>
    <form (ngSubmit)="submitPayment(form)" #form="ngForm" *ngIf="paymentRequest">
    <p>
      {{ 'payment_request_to_x' | translate : {address: paymentRequest.to, amount: paymentRequest.amount | amount} }}
    </p>
      <div *ngIf="paymentRequest.memo">
        <h4>{{ 'memo' | translate }}</h4>
        <p>{{ paymentRequest.memo }}</p>
      </div>
    <button type="button" color="danger" ion-button (click)="close()">{{ 'cancel' | translate }}</button>
    <button ion-button>{{ 'continue' | translate }}</button>
  </form>
</ion-content>
</ng-template>
