<div *ngIf="transaction && ownAddress">
  <h4>{{ 'outputs' | translate }}</h4>
  <ion-list class="input-output-list">
    <ion-item *ngFor="let output of transaction.data.coinoutputs">
      <coin-output [coinOutput]="output"></coin-output>
    </ion-item>
  </ion-list>
  <p>{{ 'amount_x' | translate : {amount: getAmount(transaction) | amount} }}</p>
  <p>{{ 'transaction_fee_x' | translate : {fee: getMinerFee(transaction.data.minerfees) | amount} }}</p>
  <p>{{ 'transaction_total_x' | translate : { amount : getTotalAmount(transaction) | amount } }}</p>
</div>
<api-request-status [status]="pendingStatus"></api-request-status>
<api-request-status [status]="createStatus"></api-request-status>
<ion-row justify-content-end>
  <form (ngSubmit)="submit()">
    <button ion-button color="primary" [disabled]="pendingStatus.loading || createStatus.loading">
      {{ 'confirm_transaction' | translate }}
    </button>
  </form>
</ion-row>
