<p *ngIf="condition.type === OutputType.UNLOCKHASH">{{ condition.data.unlockhash }}</p>
<ng-container *ngIf="condition.type === OutputType.ATOMIC_SWAP">
  <p>{{ 'sender_x' | translate : { sender: condition.data.sender } }}</p>
  <p>{{ 'receiver_x' | translate : { receiver: condition.data.receiver } }}</p>
  <unlocks-on [locktime]="condition.data.locktime"></unlocks-on>
  <p>{{ 'hashed_secret_x' | translate : { secret: condition.data.hashedsecret} }}</p>
</ng-container>
<ng-container *ngIf="condition.type === OutputType.TIMELOCKED">
  <unlocks-on [locktime]="condition.data.locktime"></unlocks-on>
  <output-condition [condition]="condition.data.condition"></output-condition>
</ng-container>
