<p *ngIf="condition.type === OutputType.UNLOCKHASH">{{ condition.data.unlockhash }}</p>
<ng-container *ngIf="condition.type === OutputType.ATOMIC_SWAP">
  <p>{{ 'sender_x' | translate : { sender: condition.data.sender } }}</p>
  <p>{{ 'receiver_x' | translate : { receiver: condition.data.receiver } }}</p>
  <p>{{ 'unlocks_on_x' | translate : { date: (condition.data.timelock * 1000) | date : dateformat } }}</p>
  <p>{{ 'hashed_secret_x' | translate : { secret: condition.data.hashedsecret} }}</p>
</ng-container>
<ng-container *ngIf="condition.type === OutputType.TIMELOCKED">
  <p *ngIf="condition.data?.timelock">
    {{ 'unlocks_on_x' | translate : { date: (condition.data.timelock * 1000) | date: dateformat } }}
  </p>
</ng-container>
<ng-container *ngIf="condition.type === OutputType.SORTED_SET">
  <ng-container *ngFor="let condition of condition.data.conditions">
    <output-condition [condition]="condition" (copied)="copied.emit($event)"></output-condition>
  </ng-container>
</ng-container>
