<p *ngIf="!hasTransactions; else hasTransactionsTmpl">
  {{ 'no_spendable_tokens' | translate }}
</p>
<ng-template #hasTransactionsTmpl>
  <button ion-button item-start (click)="scanQr.emit()">{{ 'scan_qr_code' | translate }}</button>
  <p item-start>{{ 'or_enter_the_information_below' | translate }}</p>
  <form #form="ngForm" (ngSubmit)="submitForm(form)">
    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>{{ 'currency' | translate }}</ion-label>
        <ion-select name="version" [(ngModel)]="data.version" required (ngModelChange)="setAmount()">
          <ion-option *ngFor="let version of versions" [value]="version.version">{{ version.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>{{ 'address' | translate }}</ion-label>
        <ion-textarea type="text" name="to_address" #toAddress="ngModel" [(ngModel)]="data.to_address" rows="3"
                      required [minlength]="addressLengthValidation"
                      [maxlength]="addressLengthValidation"></ion-textarea>
      </ion-item>
      <ion-item *ngIf="toAddress.errors && toAddress.dirty">
        <p *ngIf="toAddress.errors.minlength || toAddress.errors.maxlength || toAddress.errors.required"
           class="color-danger">
          {{ 'address_must_be_x_characters' | translate : {
          amount: addressLengthValidation, current:
          toAddress.errors.minlength?.actualLength || toAddress.errors.maxlength?.actualLength || 0 } }}</p>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>{{ 'token_amount' | translate }}</ion-label>
        <ion-input #amount="ngModel" type="number" name="amount" [(ngModel)]="data.amount" required [min]="getMinimum()"
                   [step]="0.01"></ion-input>
      </ion-item>
      <ion-item *ngIf="amount.errors">
        <p *ngIf="amount.errors.min" class="color-danger">
          {{ 'minimum_required_tokens_for_transaction' | translate : {minimum: getMinimum()} }}</p>
      </ion-item>
    </ion-list>
    <button ion-button>{{ 'send' | translate }}</button>
  </form>
</ng-template>
