<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'transaction_details' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="selectable">
  <h3>{{ (transaction.receiving ? 'received': 'sent') | translate }} {{ getAmount(transaction.amount) }}</h3>
  <ng-container *ngIf="!isPendingTransaction(transaction)">
    <h4>{{ timestamp$ | async | date : 'd MMMM yyyy HH:mm:ss' }}</h4>
    <p *ngIf="transaction.id">{{ 'transaction_id_x' | translate : { id: transaction.id } }}</p>
    <p>{{ 'x_confirmations' | translate : { confirmations: confirmations$ | async } }}</p>
  </ng-container>
  <h4>{{ 'inputs' | translate }}</h4>
  <ng-container *ngIf="isPendingTransaction(transaction); else inputList">
    <ion-list class="input-output-list">
      <ion-item *ngFor="let input of transaction.data.coininputs">
        <h2>{{ 'parent_id_x' | translate : { parentid: input.parentid } }}</h2>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-template #inputList>
    <ion-list class="input-output-list">
      <ion-item *ngFor="let input of transaction.coininputoutputs" ngxClipboard [cbContent]="input.unlockhash"
                (cbOnSuccess)="showCopiedToast($event)">
        <h2>{{ input.unlockhash }}</h2>
        <p>{{ input.value | amount : digits }}</p>
      </ion-item>
    </ion-list>
  </ng-template>
  <h4>{{ 'outputs' | translate }}</h4>
  <ion-list class="input-output-list">
    <ion-item *ngFor="let output of transaction.outputs" ngxClipboard [cbContent]="output.unlockhash"
              (cbOnSuccess)="showCopiedToast($event)">
      <h2>{{ output.unlockhash }}</h2>
      <p>{{ output.value | amount : digits }}</p>
    </ion-item>
  </ion-list>
  <p *ngIf="!transaction.receiving">{{ 'fee_x' | translate : { fee: transaction.minerfee | amount : digits } }}</p>
</ion-content>
