<ion-content>
  <ion-row justify-content-center>
    <h2 *ngIf="!showInitialLoading">{{ totalUnlockedAmount$ | async | amount : digits }}</h2>
  </ion-row>
  <ion-row *ngIf="totalLocked$ | async as locked" justify-content-center>
    <h3>{{ 'locked_tokens_x' | translate: { amount: locked | amount : digits } }}</h3>
  </ion-row>
  <ion-refresher #refresher (ionRefresh)="getTransactions()" (ionPull)="{}">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <api-request-status [status]="transactionsStatus$ | async" *ngIf="showInitialLoading"></api-request-status>
  <ion-list>
    <ion-item *ngFor="let transaction of pendingTransactions$ | async" (click)="showDetails(transaction)">
      <h2>{{ 'pending_transaction' | translate }}</h2>
      <h3 [class]="getColorClass(transaction)">
        {{ (transaction.receiving ? 'received': 'sent') | translate }}
      </h3>
      <button ion-button item-end [color]="getColor(transaction)">{{ transaction.amount | amount : digits }}</button>
    </ion-item>
    <ion-item *ngFor="let transaction of transactions$ | async; trackBy: trackTransactions"
              (click)="showDetails(transaction)">
      <h2>{{ transaction.id }}</h2>
      <h3 [class]="getColorClass(transaction)">
        {{ (transaction.receiving ? 'received': 'sent') | translate }}
      </h3>
      <button ion-button item-end [color]="getColor(transaction)">{{ transaction.amount | amount : digits }}</button>
    </ion-item>
  </ion-list>
</ion-content>
